<!-- prettier-ignore -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex flex-wrap px-5 pt-3 pb-5 align-items-center">
  <div class="col-6">
    <img src="{{ data.image.url }}" alt="car" />
  </div>
  <div class="col-6 p-5">
    <h3 class="">car model name:{{data.car_name}}</h3>
    <h6 class="">price:{{data.car_price}}$</h6>
    <h6 class="">Quantity:{{data.quantity}}</h6>
    <p class="">description:{{data.description}}</p>
    <br />
    {% if request.user.is_authenticated %}
    <form action="" method="post"></form>
    <li class="btn btn-outline-success text-dark">
      <a class="nav-link" href="{% url 'profile'%}">Buy</a>
    </li>
  </form>
    {% endif %}
    
  </div>
</div>
<div class="card">
  {% for c in data.comments.all %}
  <div class="card-body border m-2">
    <p><b>{{c.nam}} </b>{{c.created}}</p>
    <p>{{c.body}}</p>
  </div>
  {% endfor %}
</div>
{% endblock content %}
